<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bakeit</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Muli|Playfair+Display|Poppins:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/angularapp.js"></script>
    <script src="/javascripts/jquery.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#22d9d7">
  </head>
  <body ng-app="bakeit" ng-controller="mainCont">

    <!-- START OF NAVBAR -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navCont">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">bakeit</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-text" ng-show="isLoggedIn()">
              <a class="nav-text">Signed in as {{ currentUser() }}</a>
            </li>
            <li class="nav-text">
              <a class="nav-text" href="/#/">Home</a>
            </li>
            <li class="nav-text" ng-hide="isLoggedIn()">
              <a class="nav-text" href="/#/register">Sign Up</a>
            </li>
            <li class="nav-text" ng-hide="isLoggedIn()">
              <a class="nav-text" href="/#/login">Login</a>
            </li>
            <li class="nav-text" ng-show="isLoggedIn()">
              <a class="nav-text" ng-click="logOut()">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- END OF NAVBAR -->

    <center>
      <div id="container">
        <ui-view></ui-view>
      </div>
    </center>

    <!-- START OF HOME PAGE -->
    <script type="text/ng-template" id="/index.html">

      <!-- Searching Posts -->
      <div class="form-group search-bar">
        <input class="form-control input-text" id="searchbar" ng-model="searchPosts" type="text" placeholder="Search">
      </div>


      <!-- Sorting Posts -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SORTED BY
        <span class="caret" aria-hidden="true"></span></button>
        <ul class="dropdown-menu">
          <li ng-click="sortType='-score'">
            <a>Most Popular</a>
          </li>
          <li ng-click="sortType='score'">
            <a>Least Popular</a>
          </li>
          <li ng-click="sortType='-created_at'">
            <a>Newest</a>
          </li>
          <li ng-click="sortType='created_at'">
            <a>Oldest</a>
          </li>
        </ul>
      </div>

      <!-- Displaying all posts -->
      <div ng-repeat="post in posts | orderBy: sortType | filter: searchPosts" class="posts">

        <!-- Post Details -->
        <div class="postInfo">
          <h3 class="title">
            <a href="#/posts/{{ post._id }}">{{ post.title }}</a>
            <a href="{{ post.link }}">
              <span ng-show="post.link" class="glyphicon glyphicon-link" data-toggle="tooltip" data-placement="right" title="{{ post.link }}" aria-hidden="true"></span>
              <span class="sr-only">Visit link</span>
            </a>
          </h3>
          <p class="timestamps">{{ post.created_at | date: 'h:mm a on MMMM d, y' }} | by
            <a class="text-link">{{ post.author }}</a>
          </p>

          <!-- Post Comments/Score -->
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
              <a href="#/posts/{{ post._id }}">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="sr-only">View All Comments</span>
                <span>{{ post.comments.length }}</span>
              </a>
            </button>
            <button type="button" class="btn btn-default" ng-click="upvote(post)">
              <span>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span class="sr-only">Like this post</span>
                <span>{{ post.score }}</span>
              </span>
            </button>
          </div>

          <!-- Post Tags -->
          <br ng-show="post.tags">
          <div ng-show="post.tags" class="tags" ng-repeat="value in post.tags | commaBreak">
            <p class="label label-default">{{ value }}</p>
          </div>
        </div>
      </div>

      <div ng-hide="isLoggedIn()">
        <h1 class="form-header">
          <a class="login-link" href="/#/login">Login</a> or <a class="login-link" href="/#/register">Sign Up</a> to join the conversation!
        </h1>
      </div>

      <!-- Form to add a new post -->
      <div id="addPost" ng-show="isLoggedIn()">
        <h1 class="form-header">Add A Post</h1>
        <form ng-submit="addPost()">
          <div class="form-group">
            <label for="title" class="timestamps" data-toggle="tooltip" data-placement="right" title="Required">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Title
            </label>
            <input type="text" class="form-control input-text" ng-model="title" id="title">
          </div>
          <div class="form-group">
            <label for="link" class="timestamps" data-toggle="tooltip" data-placement="right" title="Required">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Link
            </label>
            <input type="text" class="form-control input-text" ng-model="link" id="link">
          </div>
          <div class="form-group">
            <label for="body" class="timestamps" data-toggle="tooltip" data-placement="right" title="Required (separate with commas)">
              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  Tags
            </label>
            <textarea class="form-control" rows="3" ng-model="tags" id="tags"></textarea>
          </div>
          <div class="form-group">
            <label for="body" class="timestamps" data-toggle="tooltip" data-placement="right" title="Required">
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Description
            </label>
            <textarea class="form-control" rows="5" ng-model="body" id="body"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
      </div>
    </script>
    <!-- End of Home Page -->

    <!-- START OF POST/COMMENTS PAGE -->
    <script type="text/ng-template" id="/posts.html">

      <!-- POST DETAILS WITH LINK -->
      <div ng-show="post.link" class="post-info" ng-controller="mainCont">
        <h3 class="post-info">
          <a class="text-link" href="{{ post.link }}">{{ post.title }}</a>
        </h3>
        <a class="text-link" href="{{ post.link }}"></a>
        <div ng-show="post.body" class="post-body">
          <p>{{ post.body }}</p>
        </div>
        <p class="timestamp">{{ post.created_at | date: 'h:mm a on MMMM d, y' }} | by
          <a class="text-link">{{ post.author }}</a>
        </p>

        <!-- Post Comments/Score -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="upvote(post)">
            <span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ post.score }}</span>
          </button>
          <button type="button" class="btn btn-default" ng-click="delete(post)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <span class="sr-only">Delete this post</span>
          </button>
        </div>

        <!-- Post Tags -->
        <br ng-show="post.tags">
        <div ng-show="post.tags" class="post-tags" ng-repeat="value in post.tags | commaBreak">
          <p class="label label-default">{{ value }}</p>
        </div>
      </div>

      <!----------------------------------------------------------------------->

      <!-- POST DETAILS WITHOUT LINK -->
      <div ng-hide="post.link" class="post-info" ng-controller="mainCont">
        <h3 class="post-info">{{ post.title }}</h3>
        <div ng-show="post.body" class="post-body">
          <p>{{ post.body }}</p>
        </div>
        <p class="timestamp">{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by
          <a class="text-link">{{ post.author }}</a>
        </p>

        <!-- Post Comments/Score -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="upvote(post)">
            <span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ post.score }}</span>
          </button>
          <button type="button" class="btn btn-default" ng-click="delete(post)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <span class="sr-only">Delete this post</span>
          </button>
        </div>

        <!-- Post Tags -->
        <br ng-show="post.tags">
        <div ng-show="post.tags" class="post-tags" ng-repeat="value in post.tags | commaBreak">
          <p class="label label-default">{{ value }}</p>
        </div>
      </div>

      <!----------------------------------------------------------------------->

      <div ng-hide="isLoggedIn()">
        <h1 class="form-header">
          <a class="login-link" href="/#/login">Login</a> or <a class="login-link" href="/#/register">Sign Up</a>
          to join the conversation!
        </h1>
      </div>

      <!-- Sorting Comments -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SORTED BY
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-click="sortType='-score'">
            <a>Most Popular</a>
          </li>
          <li ng-click="sortType='score'">
            <a>Least Popular</a>
          </li>
          <li ng-click="sortType='-created_at'">
            <a>Newest</a>
          </li>
          <li ng-click="sortType='created_at'">
            <a>Oldest</a>
          </li>
        </ul>
      </div>
      <br>

      <!-- Displaying all comments -->
      <div ng-repeat="comment in post.comments | orderBy: sortType">
        <!-- Comment details -->
        <div class="comment-info">
          <!-- Rest of comment details -->
          <p class="timestamps">
            <a class="text-link">{{ comment.author }}</a> says...
          </p>
          <p class="comment-body">{{ comment.body }}</p>
          <p class="timestamps">
            {{ comment.created_at | date: 'h:mm a on MMMM d, y' }}
          </p>

          <!-- Comment Vote/Delete -->
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="upvote(comment)">
              <span>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                {{ comment.score }}</span>
                <span class="sr-only">Like this comment
              </span>
            </button>
            <button type="button" class="btn btn-default" ng-click="delete(comment)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <span class="sr-only">Delete this comment</span></button>
          </div>
        </div>

      </div>

      <!-- Form to add a new comment -->
      <form ng-submit="addComment()" ng-show="isLoggedIn()" class="comment-form">
        <h1 class="form-header">Leave A Comment</h1>
        <div class="form-group">
          <textarea class="form-control" rows="5" ng-model="body" id="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </script>
    <!-- End of Post/Comments Page -->

    <!-- START OF REGISTER PAGE -->
    <script type="text/ng-template" id="/register.html">
      <div id="register">
        <!-- Register Errors -->
        <div ng-show="error" class="error">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error</span>
          <span>{{ error.message }}</span>
        </div>
        <!-- Form to register -->
        <form ng-submit="register()">
          <h1 class="form-header">Sign Up</h1>
          <div class="form-group">
            <label for="username" class="timestamps" data-toggle="tooltip" data-placement="right" title="Username must have between 6 and 18 characters"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Username</label>
            <input id="username" type="text" class="form-control input-text" ng-model="user.username">
          </div>
          <div class="form-group">
            <label for="password" class="timestamps" data-toggle="tooltip" data-placement="right" title="Password must have at least 8 characters"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Password</label>
            <input id="password" type="password" class="form-control input-text" ng-model="user.password">
          </div>
          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
      </div>
    </script>
    <!-- End of Register Page -->

    <!-- START OF LOGIN PAGE -->
    <script type="text/ng-template" id="/login.html">
      <div id="login">
        <!-- Login Errors -->
        <div ng-show="error" class="error">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error</span>
          <span>{{ error.message }}</span>
        </div>
        <!-- Form to login -->
        <form ng-submit="login()">
          <h1 class="form-header">Login</h1>
          <div class="form-group">
            <label for="username" class="timestamps"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Username</label>
            <input id="username" type="text" class="form-control input-text" ng-model="user.username">
          </div>
          <div class="form-group">
            <label for="password" class="timestamps"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Password</label>
            <input id="password" type="password" class="form-control input-text" ng-model="user.password">
          </div>
          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
        <hr>
        <a class="text-link" href="/#/register" style="font-size: 20px !important;">Don't have an account? Sign up today!</a>
      </div>
    </script>
    <!-- End of Login Page -->

    <!-- START OF 404 PAGE -->
    <script type="text/ng-template" id="/404.html">
      <div id="error">
        <span class="sr-only">Error</span>
        <h1 class="form-header">Oops, looks like we couldn't find that page!</h1>
        <h3>Error Code: 404</h3>
        <hr>
        <a href="/#/" class="back">Back To Home Page</a>
      </div>
    </script>

    <!-- START OF FOOTER -->

    <p class="footer">© 2016-2017 bakeit, All Rights Reserved | Created By Preeya Sharma</p>

    <!-- End of Footer -->

  </body>
</html>
