body {
  margin: auto;
  width: 50%;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  background-color: #FFEBEF;
  border: 5px solid #FFEBEF;
  border-radius: 5px;
}

img {
  width: 64px;
  height: auto;
}

.logo {
  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;
  color: brown;
}

input {
  width: 100%;
  margin: 1% 0 1% 0;
  padding: 1%;
}
.glyphicon-thumbs-up, .glyphicon-thumbs-down {
  cursor: pointer;
}

a {
  cursor: pointer;
}

ul li {
  list-style-type: none;
  padding-bottom: 1%;
}

.posts {
  border: 1px dotted magenta;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

/*on home page*/
.postInfo {
  margin-left: 5%;
}

.votes {
  margin-top: 10px;
  float: left;
  text-align: center;
  display: inline-block;
}

.votes p {
  margin: 0;
}

.post-votes {
  float: left;
  text-align: center;
  display: inline-block;
  margin-right: 2.5%;
}

.post-votes p {
  margin: 0;
}

.label-default {
  padding: 0.75% 1.5%;
  margin: 0 0.75%;
  font-size: 13px;
  background-color: magenta;
  text-align: center;
  border-radius: 20px !important;
}

/*on comments page*/
.post-info {
  margin-top: 0;
}

.comment-votes {
  float: left;
  text-align: center;
  display: inline-block;
}

.comment-votes p {
  margin: 0;
}

.comment-info {
  margin-left: 5%;

}

.striped {
  background-color: #E5FFE5;
  border-radius: 5px;
  border: 1px dotted green;
}

.glyphicon {
  cursor: pointer;
  padding-right: 2%;
}

.post-body {
  border: 1px dotted magenta;
  border-radius: 5px;
  padding: 10px 10px 30px 10px;
  background-color: #FFEBEF;
  margin-bottom: 5%;
}

.comment-box {
  border-radius: 5px;
}
