
/*------------------- General Site Styling -------------------*/

body {
  margin: auto;
  width: 100%;
  font-family: 'Muli', sans-serif;
  padding-bottom: 100px;
  background-color: #dbfaff;
}

#container {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

p {
  font-size: 14px;
  color: #333;
}

ul li {
  list-style-type: none;
}

label {
  color: #333;
  opacity: 0.5;
  cursor: pointer;
  /*font-weight: normal !important;*/
}

a {
  color: #f95e7d !important;
}

a:hover, a:active {
  color: #f95e7d !important;
  cursor: pointer;
}

input {
  width: 100%;
  border-radius: 0px !important;
}

.input-text {
  height: 45px !important;
}

.search-text {
  height: 36px !important;
}

.form-control:focus {
  border: 1px solid turquoise;
  box-shadow: none !important;
}

.form-header {
  background-color: white;
  font-size: 2.5rem;
  padding: 1%;
  text-align: center;
  box-shadow: 1px 1px 5px grey;
  margin-bottom: 2.5%;

}
textarea {
  border-radius: 0px !important;
  padding-top: 12px !important;
  padding-bottom: 10px !important;
}

hr {
  border-color: #333;
  opacity: 0.3;
}

/*------------------- Page Header -------------------*/

#page-header {
  width: 100%;
  padding-top: 4%;
  /*background-color: lightgrey;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;*/

  /*background-color: ;*/
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

#header-text {
  text-align: center;
}

#header-text h1 {
  font-family: 'Homemade Apple', cursive;
  color: #333;
  font-size: 10rem;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/*------------------- Navbar/Footer -------------------*/

.navbar-default {
  background-color: white;
  box-shadow: 1px 1px 5px grey;
}

.container-fluid {
  text-align: center;
}

.nav-text {
  font-size: 2rem;
  color: #333 !important;
  padding-right: 1%;
}

.nav-text:hover, .nav-text:active {
  color: #f95e7d !important;
  cursor: pointer;
}

.middle {
  float: none !important;
  display: inline-block;
}

/*------------------- Icons, Links, Buttons -------------------*/

.btn {
  border-radius: 0px !important;
  background-color: #333 !important;
  border: none !important;
  outline: none !important;
  padding: 12px 36px !important;
  font-size: 1em;
}

.btn:hover, .btn:active {
  cursor: pointer;
  background-color: #f95e7d !important;
  border: none !important;
  outline: none !important;
}

.btn a {
  color: white !important;
  font-size: 14px;
  text-decoration: none !important;
}

.btn-group {
}

.btn-group button {
  background-color: white !important;
  font-family: 'Muli', sans-serif;
  font-style: normal !important;
  font-weight: bold;
  border: 1px solid lightgrey !important;
  padding: 4px 12px !important;
}

.btn-group button, .btn-group .glyphicon, .btn-group a {
  color: #333 !important;
}

.btn-group button:hover, .btn-group .glyphicon:hover, .btn-group a:hover {
  color: #333 !important;
  background-color: lightgrey !important;
}

.dropdown-menu a {
  color: #333 !important;
}

.dropdown-menu a:hover, .dropdown-menu a:active {
  color: #f95e7d !important;

}

.glyphicon {
  color: #333;
  font-size: 14px;
}

.glyphicon-link:hover, .glyphicon-heart:hover, .glyphicon-trash:hover {
  color: #f95e7d;
  cursor: pointer;
}

/*------------------- Home Page Layout -------------------*/

.posts {
  margin-bottom: 2%;
  padding: 1% 1.5% 2% 1.5%;
  box-shadow: 1px 1px 5px grey;
  background-color: white;
}

.postInfo {
  margin-left: 1.5%;
  background-color: white;
}

#addPost {
  background-color: #dbfaff;
}

.tags {
  margin-top: 1%;
  display: inline-block;
}

.label-default {
  padding: 3px 15px;
  background-color: white;
  border: 1.5px solid #333;
  color: #333 !important;
  font-size: 12px;
  font-weight: 700;
  margin-right: 4px !important;
  border-radius: 20px !important;
}

.label-default:hover {
  cursor: pointer;
  background-color: white;
  border: 1.5px solid #f95e7d;
  color: #f95e7d !important;
}

/*------------------- Comments Page Layout -------------------*/

.post-info {
  margin-bottom: 2%;
  padding: 2%;
  box-shadow: 1px 1px 5px grey;
  background-color: white;
}

.post-info h3 {
  padding: 0 0 1% 0;
  margin: 0;
  box-shadow: none;
}

.post-body {
  padding: 0.5%;
  margin-bottom: 1%;
  /*margin-left: 1%;*/
  background-color: white;
  border: 1px solid lightgrey;
  display: inline-block;
  width: 100%;
}

.post-tags {
  margin-top: 1%;
  display: inline-block;
}

.timestamp {
  margin: 0;
  padding: 0 0 1% 0;
}

.comment-info {
  padding: 2%;
  background: white;
  box-shadow: 1px 1px 5px grey;
  margin-bottom: 1%;
}

.comment-body {
  padding: 0.5%;
  margin-bottom: 1%;
  background-color: white;
  border: 1px solid lightgrey;
  display: inline-block;
  width: 100%;
}

/*------------------- Login/Reg/Error Page Layout -------------------*/

#login h1, #register h1, #error h1 {
  margin-top: 2%;

}

.error {
  margin-top: 5%;
  background-color: #f76a6a;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.error-icon {
  font-size: 60px;
  color: #f95e7d;
}

.glyphicon-exclamation-sign {
  color: white;
  font-size: 20px;
  cursor: none;
}
