<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bakeit</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Nunito:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/angularapp.js"></script>
    <script src="/javascripts/jquery.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#22d9d7">
  </head>
  <body ng-app="bakeit" ng-controller="mainCont">

    <!-- START OF NAVBAR -->
    <nav class="navbar navbar-default" ng-controller="navCont">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <img src="/images/cupcake.png" alt="cupcake">
          <a class="navbar-brand nav-text" href="/#/">bakeit</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-text" ng-hide="isLoggedIn()">
              <a class="nav-text" href="/#/register">
                <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" title="Register"></span>
              </a>
            </li>
            <li class="nav-text" ng-hide="isLoggedIn()">
              <a class="nav-text" href="/#/login">
                <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" data-placement="bottom" title="Login"></span>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-text" ng-show="isLoggedIn()">
              <a class="nav-text">Welcome, {{ currentUser() }}!</a>
            </li>
            <li class="nav-text">
              <a class="nav-text" href="/#/">
                <span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="bottom" title="Home"></span>
              </a>
            </li>
            <li class="nav-text" ng-show="isLoggedIn()">
              <a class="nav-text">
                <span class="glyphicon glyphicon-envelope" data-toggle="tooltip" data-placement="bottom" title="Messages"></span>
              </a>
            </li>
            <li class="nav-text" ng-show="isLoggedIn()">
              <a class="nav-text" ng-click="logOut()">
                <span class="glyphicon glyphicon-log-out" data-toggle="tooltip" data-placement="bottom" title="LogOut"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of NavBar -->

    <div id="container">
      <ui-view></ui-view>
    </div>

    <!-- START OF HOME PAGE -->
    <script type="text/ng-template" id="/index.html">

      <!-- Filtering Posts -->
      <!-- <p class="timestamps">{{ searchPosts }}</p> -->
      <div id="search-form">
        <form>
          <div class="form-group search-bar">
            <input class="form-control" ng-model="searchPosts" type="text" placeholder="search" style="width: 50%;">
          </div>
        </form>
      </div>
      <div ng-show="posts.length > 1">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort Posts By
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-click="sortType='-score'">
              <a>Popular (Default)</a>
            </li>
            <li ng-click="sortType='score'">
              <a>Unpopular</a>
            </li>
            <li ng-click="sortType='-created_at'">
              <a>Newest</a>
            </li>
            <li ng-click="sortType='created_at'">
              <a>Oldest</a>
            </li>
          </ul>
        </div>
        <hr>
      </div>

      <div ng-if="posts.length === 0">
        <hr>
        <p style="font-size: 20px;">It's a little quiet in here. Get this party started!</p>
      </div>

      <div ng-hide="isLoggedIn()">
        <h3>
          <a class="text-link" href="/#/login">Login</a> or <a class="text-link" href="/#/register">sign up</a> to join the conversation.
        </h3>
        <hr>
      </div>

      <!-- Displaying all posts -->
      <div ng-repeat="post in posts | orderBy: sortType | filter: searchPosts" class="posts">
        <div class="votes">
          <p>
            <span class="glyphicon glyphicon-chevron-up" ng-click="upvote(post)"></span>
          </p>
          <p class="vote-text">{{ post.score }}</p>
          <p>
            <span class="glyphicon glyphicon-chevron-down" ng-click="downvote(post)"></span>
          </p>
        </div>
        <div class="postInfo">
          <h4>
            <a class="text-link" href="#/posts/{{ post._id }}">{{ post.title }}</a>
            <a href="{{ post.link }}"><span ng-show="post.link" class="glyphicon glyphicon-link" data-toggle="tooltip" data-placement="right" title="{{ post.link }}"></span></a>
          </h4>
          <p class="timestamps">{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by
            <a class="text-link" href="">{{ post.author }}</a> | <span class="glyphicon glyphicon-trash" ng-click="delete(post)" ng-show="isLoggedIn()"></span>
          </p>
          <p>
            <span>
              <a class="text-link-comments" href="#/posts/{{ post._id }}"><span class="glyphicon glyphicon-comment"></span> {{ post.comments.length }}</a>
            </span>
          </p>
        </div>
      </div>

      <!-- Form to add a new post -->
      <div class="addPost">
        <form ng-submit="addPost()" ng-show="isLoggedIn()">
          <hr>
          <div class="form-group">
            <label for="title" class="timestamps">Title (Required)</label>
            <input type="text" class="form-control" ng-model="title" id="title">
          </div>
          <div class="form-group">
            <label for="link" class="timestamps">Link</label>
            <input type="text" class="form-control" ng-model="link" id="link">
          </div>
          <div class="form-group">
            <label for="body" class="timestamps">Tags (e.g. "chocolate cake, recipe, vegan-friendly")</label>
            <textarea class="form-control" rows="2" ng-model="tags" id="tags"></textarea>
          </div>
          <div class="form-group">
            <label for="body" class="timestamps">Comments</label>
            <textarea class="form-control" rows="4" ng-model="body" id="body"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </script>
    <!-- End of Home Page -->

    <!-- START OF POST/COMMENTS PAGE -->
    <script type="text/ng-template" id="/posts.html">

      <!-- Post Voting -->
      <div class="post-votes" ng-controller="mainCont">
        <p>
          <span class="glyphicon glyphicon-chevron-up" ng-click="upvote(post)"></span>
        </p>
        <p class="vote-text">{{ post.score }}</p>
        <p>
          <span class="glyphicon glyphicon-chevron-down" ng-click="downvote(post)"></span>
        </p>
      </div>

      <!-- Post Details -->
      <div ng-show="post.link" class="comment-info">
        <h3 class="post-info">
          <a class="text-link" href="{{ post.link }}">{{ post.title }}</a>
        </h3>
        <a class="text-link" href="{{ post.link }}"></a>
        <p class="timestamps">{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by
          <a class="text-link" href="">{{ post.author }}</a>
        </p>
      </div>
      <div ng-hide="post.link" class="comment-info">
        <h3 class="post-info">{{ post.title }}</h3>
        <p class="timestamps">{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by
          <a class="text-link" href="">{{ post.author }}</a>
        </p>
      </div>
      <hr>
      <div ng-show="post.body" class="post-body">
        {{ post.body }}
      </div>
      <div ng-show="post.tags">
        <span class="glyphicon glyphicon-tags"></span>
        <span class="label label-default" ng-repeat="value in post.tags | commaBreak">{{ value }}</span>
        <hr>
      </div>

      <div ng-if="post.comments.length === 0">
        <p class="timestamps">Be the first to leave
          <a class="text-link" href="">{{ post.author }}</a> a comment!
        </p>
      </div>
      <div ng-hide="isLoggedIn()">
        <h3>
          <a class="text-link" href="/#/login">Login</a> or <a class="text-link" href="/#/register">sign up</a>
          to join the conversation.
        </h3>
        <hr>
      </div>

      <!-- Filtering Comments -->
      <div ng-show="post.comments.length > 1">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort Comments By
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-click="sortType='-score'">
              <a>Popular (Default)</a>
            </li>
            <li ng-click="sortType='score'">
              <a>Unpopular</a>
            </li>
            <li ng-click="sortType='-created_at'">
              <a>Newest</a>
            </li>
            <li ng-click="sortType='created_at'">
              <a>Oldest</a>
            </li>
          </ul>
          <hr>
        </div>
      </div>

      <!-- Displaying all comments -->
      <div ng-repeat="comment in post.comments | orderBy: sortType">
        <div class="comment-votes">
          <p>
            <span class="glyphicon glyphicon-chevron-up" ng-click="upvote(comment)"></span>
          </p>
          <p class="vote-text">{{ comment.score }}</p>
          <p>
            <span class="glyphicon glyphicon-chevron-down" ng-click="downvote(comment)"></span>
          </p>
        </div>
        <div class="comment-info">
          <p class="timestamps">
            <a class="text-link" href="">{{ comment.author }}</a> says...
          </p>
          <p>{{ comment.body }}</p>
          <p class="timestamps">{{ comment.created_at | date: 'h:mm a | MMMM d, y' }} | <span class="glyphicon glyphicon-trash" ng-click="delete(comment)" ng-show="isLoggedIn()"></span></p>
        </div>
        <hr>
      </div>

      <!-- Form to add a new comment -->
      <form ng-submit="addComment()" ng-show="isLoggedIn()" class="comment-form">
        <div class="form-group">
          <label for="body"></label>
          <textarea class="form-control comment-box" rows="4" ng-model="body" id="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </script>
    <!-- End of Post/Comments Page -->

    <!-- START OF REGISTER PAGE -->
    <script type="text/ng-template" id="/register.html">

      <!-- Register Errors -->
      <div ng-show="error" class="error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span>{{ error.message }}</span>
      </div>

      <!-- Form to register -->
      <form ng-submit="register()">
        <h1 style="color: #00bcd4; font-weight: bolder;">Sign Up</h1>
        <hr>
        <div class="form-group">
          <label for="username" class="timestamps">Username (6 to 18 characters)</label>
          <input id="username" type="text" class="form-control" ng-model="user.username" style="width: 50%;">
        </div>
        <div class="form-group">
          <label for="password" class="timestamps">Password (8 characters or more)</label>
          <input id="password" type="password" class="form-control" ng-model="user.password" style="width: 50%;">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </script>
    <!-- End of Register Page -->

    <!-- START OF LOGIN PAGE -->
    <script type="text/ng-template" id="/login.html">

      <!-- Login Errors -->
      <div ng-show="error" class="error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span>{{ error.message }}</span>
      </div>

      <!-- Form to login -->
      <form ng-submit="login()">
        <h1 style="color: #00bcd4; font-weight: bolder;">Login</h1>
        <hr>
        <div class="form-group">
          <label for="username" class="timestamps">Username</label>
          <input id="username" type="text" class="form-control" ng-model="user.username" style="width: 50%;">
        </div>
        <div class="form-group">
          <label for="password" class="timestamps">Password</label>
          <input id="password" type="password" class="form-control" ng-model="user.password" style="width: 50%;">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <hr>
      <a class="text-link" href="/#/register" style="font-size: 20px !important;">Don't have an account? Sign up today!</a>
    </script>
    <!-- End of Login Page -->

    <!-- START OF 404 PAGE -->
    <script type="text/ng-template" id="/404.html">
      <span class="glyphicon glyphicon-exclamation-sign" style="font-size: 56px; color: #f970c2;"></span>
      <hr>
      <h1>Oops, looks like we couldn't make that happen!</h1>
      <h3>Error Code: 404</h3>
      <hr>
      <button class="btn"><a href="/#/" style="color: white; text-decoration: none; font-weight: bolder;">Home Page</a></button>
    </script>

    <!-- START OF FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-right" style="color: white;">© 2016 bakeit, All Rights Reserved | Built By Preeya Sharma</p>
      </div>
    </nav>
    <!-- End of Footer -->

  </body>
</html>
