<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bakeit</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Nunito:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularapp.js"></script>
  </head>
  <body ng-app="bakeit" ng-controller="mainCont">

    <!-- <nav class="navbar navbar-default">
      <ul class="nav navbar-nav" style="border: 1px solid green;">
        <li><img src="/images/cupcake (2).png" alt="cupcake"></li>
        <li class="logo"><a>bakeit</a></li>
        <li ng-show="isLoggedIn()"><a>Welcome, {{ currentUser() }}!</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Login</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav> -->

    <nav class="navbar navbar-default" ng-controller="navCont">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="#">bakeit</a>
        </div>
        <ul class="nav navbar-nav">
          <li ng-show="isLoggedIn()"><a>Welcome, {{ currentUser() }}!</a></li>
          <li><a href="/#/home">Home</a></li>
          <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()"><a href="/#/register">Sign Up</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/login">Login</a></li>
        </ul>
      </div>
    </nav>

    <ui-view></ui-view>

    <!-- Start of Home Page -->
    <script type="text/ng-template" id="/home.html">
      <div ng-repeat="post in posts | orderBy: '-score'" class="posts">
        <div class="votes">
          <p><span class="glyphicon glyphicon-menu-up" ng-click="upvote(post)"></span></p>
          <p>{{ post.score }}</p>
          <p><span class="glyphicon glyphicon-menu-down" ng-click="downvote(post)"></span></p>
        </div>
        <div class="postInfo">
          <h4><a href="#/posts/{{ post._id }}">{{ post.title }}</h4></a>
          <p>{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by <a href="">{{ post.author }}</a></p>
          <p>
            <span><a href="#/posts/{{ post._id }}">{{ post.comments.length }} comments </a></span>
            <span class="glyphicon glyphicon-trash" ng-click="delete(post)" ng-show="isLoggedIn()"></span>
          </p>
        </div>
      </div>
      <hr>
      <div class="addPost">
        <form ng-submit="addPost()" ng-show="isLoggedIn()">
          <div class="form-group">
            <label for="title">Title (Required)</label>
            <input type="text" class="form-control" ng-model="title" id="title">
          </div>
          <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" ng-model="link" id="link">
          </div>
          <div class="form-group">
            <label for="body">Tags (e.g. "chocolate cake, recipe, vegan-friendly")</label>
            <textarea class="form-control" rows="2" ng-model="tags" id="tags"></textarea>
          </div>
          <div class="form-group">
            <label for="body">Comments</label>
            <textarea class="form-control" rows="4" ng-model="body" id="body"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div ng-hide="isLoggedIn()">
          <h3><a href="/#/login">Login</a> or <a href="/#/register">sign up</a> to start posting!</h3>
        </div>
        <br>
        <br>
        <br>
      </div>
    </script>
    <!-- End of Home Page -->

    <!-- Start of Post/Comments Page -->
    <script type="text/ng-template" id="/posts.html">
      <div class="post-votes" ng-controller="mainCont">
        <p><span class="glyphicon glyphicon-menu-up" ng-click="upvote(post)"></span></p>
        <p>{{ post.score }}</p>
        <p><span class="glyphicon glyphicon-menu-down" ng-click="downvote(post)"></span></p>
      </div>

      <div ng-show="post.link" class="comment-info">
        <h3 class="post-info"><a href="{{ post.link }}">{{ post.title }}</a></h3>
        <a href="{{ post.link }}"></a>
        <p>{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by <a href="">{{ post.author }}</a></p>
      </div>
      <div ng-hide="post.link" class="comment-info">
        <h3 class="post-info">{{ post.title }}</h3>
        <p>{{ post.created_at | date: 'h:mm a | MMMM d, y' }} by <a href="">{{ post.author }}</a></p>
      </div>
      <hr>
      <div ng-show="post.body" class="post-body">
        {{ post.body }}
      </div>
      <div ng-show="post.tags">
        Tagged: <span class="label label-default" ng-repeat="value in post.tags | commaBreak">{{ value }}</span>
        <hr>
      </div>
      <div ng-if="post.comments.length === 0">
        <p>Be the first to leave <a href="">{{ post.author }}</a> a comment!</p>
      </div>
      <div ng-repeat="comment in post.comments | orderBy: '-score'" ng-class-odd=" 'striped' ">
        <div class="comment-votes">
          <p><span class="glyphicon glyphicon-menu-up" ng-click="upvote(comment)"></span></p>
          <p>{{ comment.score }}</p>
          <p><span class="glyphicon glyphicon-menu-down" ng-click="downvote(comment)"></span></p>
        </div>
        <div class="comment-info">
          <p style="margin-bottom: 0px;"><a href="">{{ comment.author }}</a> says...<p>
          <p>{{ comment.body }}</p>
          <p>{{ post.created_at | date: 'h:mm a | MMMM d, y' }}</p>
          <p><span class="glyphicon glyphicon-trash" ng-click="deleteComment(comment)" ng-show="isLoggedIn()"></span></p>
        </div>
      </div>
      <hr>
      <form ng-submit="addComment()" ng-show="isLoggedIn()" class="comment-form">
        <div class="form-group">
          <label for="comment">Leave A Comment:</label>
          <textarea class="form-control comment-box" rows="5" ng-model="body" id="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3><a href="/#/login">Login</a> or <a href="/#/register">sign up</a> to leave a comment!</h3>
      </div>
      <br>
      <br>
      <br>
    </script>
    <!-- End of Post/Comments Page -->

    <!-- Start of Register Page -->
    <script type="text/ng-template" id="/register.html">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form ng-submit="register()">
        <h3>Sign Up</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </script>
    <!-- End of Register Page -->

    <!-- Start of Login Page -->
    <script type="text/ng-template" id="/login.html">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form ng-submit="login()">
        <h3>Login</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </script>
    <!-- End of Login Page -->

  </body>
</html>
